.link line {
  stroke: #777;
  stroke-opacity: 0.6;
}
.node text {
  font-size: 0.7em;
}


.link path {
  stroke: #777;
  stroke-opacity:0.6;
}

#end-arrow {
    fill: #777;
    stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

body {
  font-family: sans-serif;
}
h1 {
  font-size: 2em;
}


/*cat 10  1f77b4 ff7f0e 2ca02c d62728 9467bd
          8c564b e377c2 7f7f7f bcbd22 17becf */
.new {
  fill: #ff7f0e;
}
.updated {
  fill: #1f77b4;
}
.live {
  fill: #2ca02c;
}
.dead {
  fill: #d62728;
}
.dsvcHdr{
  font-size: 1.5em;
  font-weight: bold;
  fill: #d62728;
}
