.link line {
  stroke: #777;
  stroke-opacity: 0.6;
}
.node text {
  font-size: 0.7em;
}


.link path {
  stroke: #777;
  stroke-opacity:0.6;
}

#end-arrow {
    fill: #777;
    stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

body {
  font-family: sans-serif;
}
h1 {
  font-size: 2em;
}


/*cat 10  1f77b4 ff7f0e 2ca02c d62728 9467bd
          8c564b e377c2 7f7f7f bcbd22 17becf */
svg .new {
  fill: #ff7f0e;
}
svg .updated {
  fill: #1f77b4;
}
svg .live {
  fill: #2ca02c;
}
svg .manager {
  fill: #8c564b;
  font-weight: bold;
}
svg .dead {
  fill: #d62728;
}
.dsvcHdr{
  font-size: 1.5em;
  font-weight: bold;
  fill: #d62728;
}

svg .sLink,.rLink{
  opacity: 0.5;
  stroke-width: 3px;
}
svg .sLink{
  stroke: #e377c2;
}
svg .rLink{
  stroke: #17becf;
}

svg .brdHdr{
  font-size: 1.5em;
  font-weight:lighter;
  fill: #1f77b4; // for svg text
}
#brdHdr,#svcHdr {
  text-align: center;
  font-size: 1.5em;
  font-weight:medium;
  padding-bottom:0px;
  border-bottom-style: solid;
  border-bottom-width: medium;
  margin-bottom: 0.5em;
}
#brdHdr {
  color: #1f77b4; // for html text
}
#svcHdr {
  color: #2ca02c; // for html text
}
.brdT,.svcT {
  text-align: center;
  font-size: 1em;
  /*color: #1f77b4;*/
}
html .new {
  color: #ff7f0e;
}
html .updated {
  color: #1f77b4;
}
html .live {
  color: #2ca02c;
}
html .manager {
  color: #8c564b;
  font-weight: bold;
}
html .dead {
  fill: #d62728;
}

.svcHdr{
  font-size: 1.5em;
  font-weight:lighter;
  fill: #2ca02c;
}
